<table class="table table-striped">
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= link_to "#{article.content}", article %></td>
    <td><%= link_to '#', class: 'btn btn-default'  do  %> <i class="glyphicon glyphicon-user"></i><% end %></td>
    <td><%= link_to article, class: 'btn btn-default'  do  %> <i class="glyphicon glyphicon-eye-open"></i><% end %></td>
    <td><%= link_to edit_article_path(article),class: 'btn btn-default' do  %> <i class="glyphicon glyphicon-edit"></i><% end %></td>
    <td><%= link_to article, method: :delete,class: 'btn btn-default', id: 'delete' do  %> <i class="glyphicon glyphicon-trash"></i><% end %></td>
  </tr>
<% end %>
</table>

<br />








