<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>


<p>
  <h4>Content:</h4>
  <%= @article.content %>
</p>

<% if @comments.empty? %>
    <div class="alert alert-warning">there are no comments for this article</div>
<% else %>
    <h4>Comments:</h4>
       <% @comments.each do |comment| %>
         <p class="alert alert-success"><%= comment.content %></p>
      <% end %>
<% end %>


